*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
    background-color: rgba(177, 109, 240, 0.822);
}

header{
}

.splash{

    font-size: 35px;
    padding: 20px 30px 30px 30px;
}

.expiredTime {
    color: red;
}
body{
    z-index: 20;
}
.results{

    border-radius: 10px;
    background:lightcoral;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 1000;
    position: absolute;
    float: left;
}
